<mat-sidenav-container class="sidenav-container" *ngIf="loginResponse$ | async; let loginResponse">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'dialog'"
      [mode]="'over'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
  blogfrog
    </mat-toolbar>
    <mat-nav-list>
      <a *ngIf="showCreateButton$ | async" mat-list-item  [routerLink]="['/add-blog/']" >Add Blog</a>
      <a *ngIf="!loginResponse.isAuthenticated" mat-list-item  (click)="login$.emit($event)">login</a>
      <a *ngIf="loginResponse.isAuthenticated" mat-list-item (click)="logoff$.emit($event)">logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Blog Frog</span>
      <span class="spacer"></span>

      <button
        *ngIf="showCreateButton$ | async"
        id="add-blog"
        [routerLink]="['/add-blog/']"
        mat-flat-button
        color="primary"
      >
        Erstelle einen neuen Blog!
      </button>

      <ng-container
        *ngIf="loginResponse.isAuthenticated; then loggedIn; else loggedOut"
      ></ng-container>

      <ng-template #loggedOut>
        <button
          mat-icon-button
          matTooltip="Login"
          class="example-icon favorite-icon"
          aria-label="Login button"
          (click)="login$.emit($event)"
        >
          <mat-icon>login</mat-icon>
        </button>
      </ng-template>

      <ng-template #loggedIn>
        <div
          [innerHTML]="initials$ | async"
          [matMenuTriggerFor]="beforeMenu"
          matTooltip="You are logged in as {{
            loginResponse.userData.preferred_username
          }}"
        ></div>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>My Account</span>
          </button>
          <button mat-menu-item>
            <mat-icon>favorite</mat-icon>
            <span>My favorite blogs</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logoff$.emit($event)">
            <mat-icon>logout</mat-icon>
            <span>Log out</span>
          </button>
        </mat-menu>
      </ng-template>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
